img {
    float: right;
    border: 3px solid #000000;
}
p {
color: black;
}
div {
    border: 1px solid black;
    margin: auto;
	width: 700px;
    background-color: lightgray;
	     padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    }
