img {
    float: right;
    border: 3px solid #000000;
}
p {
color: black;
}
body {background-image: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&h=350");
}
